/* BODY STYLES */
body{
    background-color: rgb(20, 20, 20);
    width: 100%;
    box-shadow: inset 100px 100px 50px black, inset -100px -100px 50px black;
}

/* BANNER STYLES */
#banner{
    box-shadow: inset 100px 100px 50px black, inset -100px -100px 50px black;
    height: 400px;

}

/* MISSION STYLES */
#mission_sect{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    color: white;
    background-color: black;
    border-style: double;
    border-color: white;
    border-width: 2px;
}
#mission_statement{
    margin-left: 15em;
    margin-right: 15em;
}

/* DEV STYLES */
#developer_sect{
    /* width: 80%; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-right: 4em;
    border-style: double;
    border-color: white;
    border-width: 2px;
    background-color: black;
}
#dev-pic{

}
#dev_info{
    
}

/* GAME STYLES */
#game_sect{
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 5em;
    border-style: double;
    border-color: white;
    border-width: 2px;
    background-color: black;
    color: white;
}
#game_pic{
    width: 50%;
}

/* BLOG STYLES
#blog_sect{

} */

/* KICKSTART STYLES */
#kickstart_sect{
    margin-top: 3em;
    padding-top: 5em;
    padding-bottom: 5em;
    border-style: double;
    border-color: white;
    border-width: 2px;
    background-color: black;
    text-align: center;
    color: white;
}